* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
h6 {
  background-color: black;
}
.contents {
  margin: auto;
  margin-left: 10%;
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 20%;
  text-align: left;
}
.tags {
  margin-top: -15em;
}
.content {
  margin: auto;
  margin-left: 12%;
  margin-top: 1em;
  margin-left: 12em;
}
.backg {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-color {
  background: #1d4350; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #a43931,
    #1d4350
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a43931,
    #1d4350
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2em;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: auto;
}

.about-me {
  background-color: gray;
  opacity: 0.5;
  width: 70%;
  margin: 2rem;
  border-radius: 120px;
  text-align: center;
  height: 16em;
  margin-left: 17em;
  margin-top: -13em;
  color: white;
  font-size: 25px;
}

.avatar-img {
  height: 400px;
  padding-top: 3em;
  padding-left: 2em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 55%;
  margin: auto;
  border-radius: 15px;
  position: relative;
  padding-top: 1em;
  margin-top: -21em;
  margin-left: 30em;
}

.banner-text h1 {
  font-size: 66 px;
  font-weight: bold;
  color: white;
  margin-left: 1em;
}
.banner-text h2 {
  font-size: 66 px;
  font-weight: bold;
  color: lightblue;
  margin-left: 4em;
}

.nav {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text h3 {
  font-size: 20 px;
  font-weight: bold;
  color: white;
  margin-left: 4em;
}
.banner-text hr {
  border-top: 5px dotted green;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  margin-left: 5em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  color: white;
  padding: 8px;
  font-size: 4rem;
}
