.buybooks {
  height: 100vh;
}

.buybooks__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__content {
  width: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0px 0px 25px 0px;
  box-shadow: 12px 5px 30px 6px #155e58;
}

.searchBar {
  position: relative;
  z-index: 99;
  padding: 15px;
  border: none;
  border-radius: 25px 0px 0px 0px;
  font-size: 20px;
  outline: none;
  color: black;
  width: 95%;
}

.search__btn {
  color: black;
  background-color: teal;
  width: 10%;
  font-size: 40px !important;
  border-radius: 0px 0px 25px 0px;
  cursor: pointer !important;
  border: none;
  z-index: 99;
  height: 63px;
}

.search__icon {
  font-size: 50px !important;
}

.post__book {
  width: 95%;
  height: 10%;
  border-radius: 10px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post__book__container {
  width: 30%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.post__book__text {
  color: #1c504c;
  font-size: 24px;
  margin-top: 14px;
}
.post__book__button {
  background-color: #1c504c !important;
  color: white !important;
  font-size: 17px !important;
}

.post__book__button:hover {
  background-color: #29918a !important;
  color: white !important;
}

.post__book__content {
  border-bottom: 1px solid #1e504c;
}

.post__book__title {
  font-weight: bold;
  margin-top: 20px;
  font-size: 40px;
  color: #1e504c;
}

.post__book__grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  /* grid-template-rows: repeat(auto-fit, minmax(240px, 1fr)); */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-right: 40px;
  /* background-color: red; */
}

.post__book__details {
  width: 100%;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.post__book__details:hover {
  transform: scale(1.1);
}

.post__book__image {
  width: 80%;
  height: 80%;
}

.post__book__image:hover {
  width: 80% ;
  height: 80% ;
}

.post__book__image__hover {
  width: 80%;
  height: 80%;
}

.post__book__price {
  position: relative !important;
  font-size: 18x;
  margin-right: 30px;
  margin-top: 10px;
  top: -40px !important;
  color: #155e58;
}

.buy__book__button {
  background-color: #1c504c !important;
  color: white !important;
  margin-top: -90% !important;
  /* margin-top: 10px !important; */
  font-size: 15px !important;
  width: 60% !important;
  z-index: 99 !important;
}

.button__buy {
  background-color: #1c504c !important;
  font-size: 15px !important;
  width: 150px !important;
  color: white !important;
  visibility: hidden !important;
  z-index: 10000 !important;
  padding: 10px 10px 6px 5px;
  border-radius: 5px;
  bottom: 130px !important;
  position: relative;
  margin: 0 auto;
  transition: background-color 0.4s ease-in-out !important;
}

.button__buy:hover {
  background-color: #29918a !important;
}

.post__book__details:hover > .button__buy {
  visibility: visible !important;
  transition: background-color 0.4s ease-in-out !important;
}

.post__book__details:hover img {
  opacity: 0.5;
}

.button__buy > .button__text {
  margin: 0 auto;
}

.dropdown {
  position: relative !important;
  z-index: 10 !important;
  left: 30% !important;
  top: 60px;
}

.opt {
  background-color: white !important;
  color: black !important;
}

.loading {
  background-color: red;
}

@media screen and (max-width: 1920px) {
  .post__book__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
  .dropdown {
    left: 32% !important;
  }
}

@media screen and (max-width: 1420px) {
  .post__book__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
  }
  .dropdown {
    left: 32% !important;
  }
}

@media screen and (max-width: 1024px) {
  .post__book__text {
    color: #1c504c;
    font-size: 13px;
    margin-top: 14px;
  }
  .buy__book__button {
    background-color: #1c504c !important;
    color: white !important;
    /* margin-top: 10px !important; */
    font-size: 15px !important;
    width: 60% !important;
    /* z-index: 99 !important; */
  }
  .post__book__button {
    background-color: #1c504c !important;
    color: white !important;
    font-size: 10px !important;
  }
  .post__book__title {
    font-weight: bold;
    margin-top: 20px;
  }
  .post__book__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  .dropdown {
    left: 32% !important;
  }
}

@media screen and (max-width: 800px) {
  .post__book__grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .dropdown {
    z-index: 10000 !important;
    left: 36% !important;
    top: 55px;
  }

  .post__book {
    margin-top: 30px !important;
  }

  .search__btn {
    width: 15% !important;
    height: 60px !important;
    font-size: 10px !important;
    border-radius: 0px 0px 25px 0px;
  }

  .search__content {
    box-shadow: 12px 5px 30px 6px #155e58 !important;
  }
}

@media screen and (max-width: 500px) {
  .post__book__grid {
    grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 0px !important;
    margin-right: 30px !important;
  }

  .post__book {
    margin-top: 50px !important;
  }

  .dropdown {
    z-index: 10000 !important;
    left: 33% !important;
    top: 110px;
    grid-column-gap: 0px !important;
    margin-right: 10px !important;
  }

  .post__book__container {
    width: 200px !important;
  }

  .search__btn {
    height: 0 !important;
    width: 30px !important;
    visibility: hidden !important;
  }

  .search__content {
    width: 300px !important;
    box-shadow: 12px 5px 30px 6px #155e58 !important;
  }
}

@media screen and (max-width: 390px) {
  .post__book__grid {
    grid-template-columns: 1fr !important;
    margin-right: 30px !important;
    grid-column-gap: 0px !important;
  }

  .post__book__container {
    width: 200px !important;
  }

  .search__btn {
    height: 0 !important;
    width: 30px !important;
    visibility: hidden !important;
  }

  .search__content {
    width: 300px !important;
    box-shadow: 12px 5px 30px 6px #155e58 !important;
  }

  .dropdown {
    left: 33% !important;
    top: 110px;
  }
}

@media screen and (max-width: 330px) {
  .post__book__grid {
    grid-template-columns: 1fr !important;
    grid-column-gap: 0px !important;
    margin-right: 30px !important;
  }

  .search__btn {
    height: 0 !important;
    width: 30px !important;
    visibility: hidden !important;
  }

  .search__content {
    width: 300px !important;
    box-shadow: 12px 5px 30px 6px #155e58 !important;
  }

  .dropdown {
    left: 33% !important;
    top: 110px;
  }
}
