.login__Container {
  height: 70vh;
}

.signinButton {
  background-color: #18504c !important;
}

.signinButton:hover {
  background-color: #28918a !important;
  color: white !important;
  border: 1px solid #18504c !important;
}

.MuiFormHelperText-root {
  color: red !important;
}

.input__field {
  margin-bottom: 20px !important;
}

.signin__link {
  margin-top: 15px;
}

.eye__icon {
  cursor: pointer;
  font-size: 20px !important ;
}
