.navbar__first {
  height: 50px;
  font-size: 15px;
  background: #28918a !important;
  display: flex !important;
  justify-content: space-between !important;
}

.navbar__second {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex !important;
  justify-content: ;
  align-items: center;
  text-align: center; */
  height: 70px;
  width: 100%;
  background: #f7f8fa !important;
}

.navbar__logo {
  color: black !important;
  font-size: 40px !important;
  font-weight: 700 !important;
  /* width: 30%; */
  text-decoration: none;
  text-align: right;
  cursor: pointer;
  /* flex: 0.8; */
  width: 48%;
  text-decoration: none !important;
  letter-spacing: 2px;
  /* background-color: blue; */
  /* margin-left: 250px; */
  /* margin-left: 340px; */
}

.logo__heading {
  margin-left: 40px !important;
  font-size: 40px;
  margin-top: 20px;
}

.account__btn {
  position: relative !important;
  top: -60px !important;
  right: 40px;
}

.dropaccount__btn {
  background-color: #18504c !important;
  color: white !important;
  outline: none !important;
  /* background-color: blue !important; */
}

.dropaccount__btn:hover {
  background-color: white !important;

  color: #18504c !important;
}

.navbar__left {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar__icons {
  /* margin-top: 10px;
  justify-self: flex-end;
  /* display: flex; */
  /* flex-direction: column; */
  cursor: pointer;
  width: 30%;
  text-align: right;
  /* margin-left: 40px; */
  /* background-color: red; */
}

.cart {
  /* margin-right: 10px; */
  font-size: 25px !important;
  margin-top: 10px !important;
}

.cart__total {
  font-size: 20px;
}

.title__link {
  letter-spacing: 1px;
}

.cart__link {
  /* display: flex !important; */
  text-decoration: none !important;
  color: black;
}

.profile__link {
  text-decoration: none !important;
  color: black;
}

.nav__link,
.nav__loglink {
  letter-spacing: 1px;
}

.cart__link {
  /* display: flex !important; */
  text-decoration: none !important;
  color: black;
}

.profile__link {
  text-decoration: none !important;
  color: black;
}
.nav__link:hover {
  color: white !important;
  border-bottom: 1px solid white;
}

.signup__btn {
  z-index: 99 !important;
  background-color: #1a504c !important;
  color: white !important;
  border: 1px solid white !important;
  border: none !important;
}

.signup__btn:hover {
  color: #18504c !important;
  background-color: white !important;
}

@media screen and (max-width: 768px) {
  .signup__btn {
    font-size: 10px !important;
    margin-right: 20px;
  }

  .welcome__name {
    font-size: 15px;
  }
  .account__btn {
    top: -30 !important;
  }

  .nav__link {
    font-size: 8px;
  }

  .title__link {
    font-size: 14px !important;
  }
  .signup__btn {
    z-index: 99 !important;
    background-color: #0d2c29 !important;
    color: white !important;
    font-size: 10px;
    border: 1px solid white !important;
    border: none !important;
  }
  .logo__heading {
    font-size: 30px;
  }

  .nav__link {
    visibility: hidden;
  }
}

.navbar__logoLink {
  cursor: pointer;
  text-decoration: none !important;
  color: black !important;
}

.cart {
  font-size: 25px;
}

.avatar {
  background-color: rgb(92, 95, 92) !important;
  text-transform: uppercase;
}
